@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.header {
  background-color: #0E1428;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  padding: 0 54px;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
  position: sticky;
  top: 0;
}

.header__title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #7024B9;
}
